:root {
    --background-color: #131119;
    --color-button: #f45b69;
    --color-button-lighter: #ff7480;
    --color-text-in-primary: #FFF8F0;
    --color-button-text: #ffffff;
    --tile-text-in-primary: #B9971E;
    --color-text-base: #6A6180;
    --color-second-button: #2edae0;
    --body-color: #a29f98;
    font-size: 60%;

}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1, h2, h3 {
    font-weight: 700;
    font-family:'Montserrat';
}

body, input,
button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    height: 100vh;
    max-width: 700px;
}
