@media (min-width: 991px) {
    /* HEADER  AND BLOCK-HOME RESPONSIVE CHANGES */
    #page-top .container > .main-header {
        display: none;
    }
    #page-top > .container .block-home {
        background-size: cover;
    }
    .icon-menu {
        display: none;
    }
    /* end of header and block-home responsive changes */

     /* menu aside configurations  */
    #page-top .aside-block {
        width: 20%;
        height: 100vh;
        background-color: var(--branco);
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid var(--cinza);
        text-align: center;
    }
    .img {
        padding: 0.5rem;
    }
    .mypic {
        border-radius: 50%;
        width: 150px;
        padding: 0.5rem;
        background-color: #a9b8b6;
    }
    
    .mypic:hover {
        background-color: var(--rosa);
    }

    .navigation-menu > .list-nav > .item-nav > .link-nav:hover {
        font-weight: bold;
    }
    /* end of menu aside configurations */

    .figure {
        /* foto do sobre mobile*/
        display: none;
    }

    /* centralização do conteúdo com o aside */
    .container_size {
        max-width: 80%;
        display: block;
        float: right;
    } 
    /* fim da centralização do conteúdo com aside */

    /* SOBRE CHANGES HERE */

    /* SKILLS RESPONSIVE CHANGES */
    .hard-skills-block .skills-wraplist {
        flex-direction: row;
        justify-content: center;
    }
    .hard-skills-block .skills-wraplist > .item-list {
        font-size: 5rem;
        margin: 0;
        padding: 10px 10px;
    } 
    .hard-skills-block .skills-wraplist > .item-list > .fab {
        color: var(--cinza);
    }

    .hard-skills-block .skills-wraplist > .item-list > .fab:hover {
        color: var(--rosa);
    } 
    /* end of skills changes*/

    /* CONTATC RESPONSIVE CHANGES */
    .block-contact > .social-icons {
        flex-direction: row;
    } 
    /* end of contact responsive changes */
    
    }