@media (min-width: 991px) {
    #page-top .container > .main-header {
        display: none;
    }
    #page-top > .container .block-home {
        background-size: cover;
    }
    .icon-menu {
        display: none;
    }
    #page-top .aside-block {
        width: 20%;
        height: 100vh;
        background-color: var(--branco);
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid var(--cinza);
        text-align: center;
    }
    .img {
        padding: 0.5rem;
    }
    .mypic {
        border-radius: 50%;
        width: 150px;
        padding: 0.5rem;
        background-color: #a9b8b6;
    }
    
    .mypic:hover {
        background-color: var(--rosa);
    }

    .navigation-menu > .list-nav > .item-nav > .link-nav:hover {
        font-weight: bold;
    }

    .figure {
        display: none;
    }
    .container_size {
        max-width: 80%;
        display: block;
        float: right;
    }
    }