.home-btn {
    border: 1px solid var(--rosa);
    text-transform: uppercase;
    padding: 15px;
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 0px 2px var(--cinza);
}

.btn-link-home {
    text-decoration: none;
    color: var(--rosa);
    padding: 15px 6px;
    font-weight: bold;
    box-sizing: border-box;
}

.btn-link-home:hover {
    text-decoration: underline;
}

.home-btn:active {
    box-shadow: none;
    
}