.home-btn {
    border: 1px solid var(--preto);
    text-transform: uppercase;
    padding: 15px;
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px var(--preto);
}

.btn-link-home {
    text-decoration: none;
    color: var(--preto);
    padding: 15px 6px;
    box-sizing: border-box;
}

.btn-link-home:hover {
    text-decoration: underline;
}

.home-btn:active {
    box-shadow: none;
    
}