.block-cursos {
    width: 100vw;
    height: 110vh;
    background-color: var(--branco);
    border-bottom: 1px solid var(--cinza);
}
.courses-wraplist {
    padding: 0 10px;
}

.item-course-list {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    padding: 5px 0;
    color: var(--preto);
}