.block-contact {
    width: 100vw;
    height: 100vh;
    background-color: var(--brancobg);
    border-bottom: 1px solid var(--cinza);
}

.block-contact > .social-icons {
    display: flex;
    flex-direction: column;
}

.block-contact > .social-icons > a {
    display: block;
    margin: 0 auto;
    color: var(--cinza);
    font-size: 4rem;
    padding: 10px 0;
}

.block-contact > .social-icons > a:hover {
    color: var(--rosa);

}