.block-sobre {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 125vh;
    background-color: var(--brancobg);
    border-bottom: 1px solid var(--cinza);
}
.title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: var(--rosa);
    padding: 40px 0;
    text-shadow: 1px 1px 2px var(--cinza);
}
.dev-pic {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.paragraph {
    text-align: justify;
    font-size: 1em;
    margin-top: 20px;
    color: var(--preto);
    line-height: 1.5rem;
    padding: 0 15px;
}

.link-sobre {
    text-transform: uppercase;
    color: var(--roxo);
    font-style: italic;
}
