.block-skills {
    width: 100vw;
    height: 110vh;
    background-color: var(--brancobg);
    border-bottom: 1px solid var(--cinza);
}
.txt-skills {
    font-size: 1.2rem;
    color: var(--roxo);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}
.skills-wraplist {
    display: flex;
    flex-direction: column;
}

.skills-wraplist > .item-list {
    display: block;
    margin: 0 auto;
    font-size: 4rem;
    padding: 10px 0;

}

.fa-css3-alt {
    color: #4097da;
}
.fa-js-square {
    color: #f7df1e;
}
.fa-html5 {
    color: #f06529;
}

.softskill-item-list {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 5px 0;
    color: var(--preto);
}