.menu {
    color: var(--cinza);
    width: 65%;
    height: 100vh;
    background-color: var(--branco);
    position: absolute;
    left: -65%;
    transition: left 500ms ease-out;
}

.link-nav {
    color: var(--preto);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    display: block;
}

.list-nav {
    padding-top: 1.5rem;
}
.item-nav {
    transition: background-color 300ms ease-in;
}
.item-nav:hover {
    text-decoration: underline;
    color: var(--brancobg);
    background-color: var(--rosa);
}

.link-nav:hover {
    color: var(--brancobg);

}
.__move .menu {
    left: 0;
}

.__move .content {
    left: 65%;
}