.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
    padding: 3rem 0;
}
.logo-container h1 {
    color: var(--color-button);
}
.logo-container h2 {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.hero-image {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;    
    margin-right: 1.6rem;
    border-radius: 0.8rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);

}

.buttons-container a.project {
    background: var(--color-button)
}

.buttons-container a.project:hover {
    background: var(--color-button-lighter);
}

.buttons-container a.contact {
    border: 1px solid var(--color-button-text);
}

#about-me {
    padding: 3rem 0;
}

.title {
    background-color: var(--color-button);
    color: var(--color-text-in-primary);
    padding: 2rem;
}

#about-me .dev-pic  {
    text-align: center;
}
#about-me .about-me-txt {
    color: var(--body-color);
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    padding: 0 1.2rem;
}
.about-me-txt a {
    color: var(--color-button);
}

.about-content-second {
    padding: 3rem 0;
}
.about-content-second > h2 {
    color: var(--color-button);
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.card {
    padding: 3rem;
    margin: 2rem auto 0;
    background: linear-gradient(var(--color-text-base), var(--background-color));
    border-radius: 10px;
    width: 80%;
    text-align: center;
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.2);
}
.card-icon {
    width: 4rem;
    display: block;
    margin: 0 auto;
}

.card-content {
    padding: 2px 16px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 0.8rem;
}
.project-container {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-pic {
    width: 100%;
}
.project-detail {
    margin-top: 2rem;
}
.link-block {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link-block a {
    margin: 0.8rem 0;
}
.project-link {
    display: inline-block;
    color: #ffffff;
    background-color: var(--color-button);
    padding: 2rem;
    border-radius: 10px;
    margin: 0 0.8rem;
}

.project-link:hover {
    text-decoration: none;
    color: #ffffff;
}
.social-block {
    display: flex;
    flex-direction: column;
}
.social-list {
    display: block;
    margin: 2rem auto;
    text-align: center;
    list-style: none;
    border: 1px solid #ffffff;
    padding: 3rem;
    width: 80%;
    transition: 0.3s;
}

.social-list:hover {
    border: 1px solid var(--color-button);
    transform: scale(1.1);
}

.social-list li {
    display: block;
    margin: 0 auto;
    padding: 3rem;
}

.contact-icon {
    font-size: 5rem;
}

.fa-linkedin {
    color: #ffffff;
}

.fa-github {
    color: #ffffff;
}

.fa-envelope-square {
    color: #ffffff;
}

footer {
    display: flex;
    background: var(--background-color);
    padding: 3rem;
    width: 100%;
    flex-direction: column;
}

footer div {
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
    }
    #page-landing .grid-container {
        max-width: 1100px;
        display: grid; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 350px 1fr;
        grid-template-areas: "gabi image image" 
        "button button texting"; 
        column-gap: 87px;
        row-gap: 86px;
    }

    .logo-container {
        grid-area: gabi;
        text-align: initial;
        align-self: center; 
        margin: 0;

    }


    .hero-image {
        grid-area: image;
        height: 350px;
    }
    .buttons-container {
        grid-area: button;
        justify-content: flex-start; 
        margin: 0;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    .card-container {
        flex-direction: row;
    }

    .card {
        width: 20%;
        padding: 3rem 0;
    }
    .card-content h3 {
        font-size: 1.2rem;
    }
    .project-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: initial;
        width: 100%;
    }
    .project {
        width: 50%;
    }
    .project-pic {
        width: 500px;
    }
    .link-block {
        justify-content: start;
    }

    .link-block a {
        margin: 0 1rem;
    }
    #contact .social-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    #contact .social-block a {
        margin-right: 1.5rem;
    }

    .social-list {
        width: 100%;
    }

    .social-list li {
        margin-right: 1rem;
    }


}