.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
    padding: 3rem 0;
}
.logo-container h1 {
    color: var(--color-button);
}
.logo-container h2 {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.hero-image {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;    
    margin-right: 1.6rem;
    border-radius: 0.8rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);

}

.buttons-container a.project {
    background: var(--color-button)
}

.buttons-container a.project:hover {
    background: var(--color-button-lighter);
}

.buttons-container a.contact {
    border: 1px solid var(--color-button-text);
}

#about-me {
    padding: 3rem 0;
}

.title {
    background-color: var(--color-button);
    color: var(--color-text-in-primary);
    padding: 2rem;
}

#about-me .dev-pic  {
    text-align: center;
}
#about-me .about-me-txt {
    color: var(--body-color);
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    padding: 0 1.2rem;
}
.about-me-txt a {
    color: var(--color-button);
}

.about-content-second {
    padding: 3rem 0;
}
.about-content-second > h2 {
    color: var(--color-button);
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.card {
    padding: 3rem;
    margin: 2rem auto 0;
    background: linear-gradient(var(--color-text-base), var(--background-color));
    border-radius: 10px;
    width: 80%;
    text-align: center;
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.2);
}
.card-icon {
    width: 4rem;
    display: block;
    margin: 0 auto;
}

.card-content {
    padding: 2px 16px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 0.8rem;
}
.project-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-pic {
    width: 100%;
}
.project-detail {
    margin-top: 2rem;
}
.link-block {
    text-align: center;
}
.project-link {
    display: inline-block;
    color: #ffffff;
    background-color: var(--color-button);
    padding: 2rem;
    border-radius: 10px;
}

.project-link:hover {
    text-decoration: none;
    color: #000000;
}
