.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
    padding: 3rem 0;
}
.logo-container h1 {
    color: var(--color-button);
}
.logo-container h2 {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.hero-image {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;    
    margin-right: 1.6rem;
    border-radius: 0.8rem;
    font: 700 2.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);

}

.buttons-container a.project {
    background: var(--color-button)
}

.buttons-container a.project:hover {
    background: var(--color-button-lighter);
}

.buttons-container a.contact {
    border: 1px solid var(--color-button-text);
}

#about-me {
    padding: 3rem 0;
}

#about-me .about-title {
    background-color: var(--color-button);
    color: var(--color-text-in-primary);
    padding: 2rem;
}

#about-me .dev-pic  {
    text-align: center;
}
#about-me p {
    color: var(--body-color);
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    padding: 0 1.2rem;
}

.about-content-second {
    padding: 3rem 0;
}
